.notification {
  background: #d8d8d8;
  padding: 10px;
  border: 3px solid;
  border-radius: 8px;
  margin: 5px;
}

.notification__type-error {
  border-color: red;
  color: red;
}

.notification__type-info {
  border-color: green;
  color: green;
}